<ul>
  <li>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
  </li>
  <li>
    <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
  </li>
  <li>
    <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
  </li>
  <li>
    <a [routerLink]="['/admin']" routerLinkActive="router-link-active">Dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active">Users</a>
  </li>
</ul>
<router-outlet></router-outlet>