<footer>
  <hr>
  <div class="container text-center">
    <address>
      <p>CONVENIOCOM 2020 - Todos los derechos reservados</p>
      <p>
        264 Sylvan Vista, Fredhaven Bilzen <br>
        TEL: 885-335-5475 - Contacto: contacto@conveniocom.com
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacta con nosotros</a>
      </p>
    </address>
    <ul class="social nav justify-content-center">
      <li>
        <a href="#" target="blank">
          <img src="/assets/icons/facebook.png" alt="">
        </a>
      </li>
      <li>
        <a href="#" target="blank">
          <img src="/assets/icons/twitter.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>